@font-face {
    font-family: 'Courier New';
    src: url('CourierNewPSMT.eot');
    src: local('Courier New'), local('CourierNewPSMT'),
        url('CourierNewPSMT.eot?#iefix') format('embedded-opentype'),
        url('CourierNewPSMT.woff2') format('woff2'),
        url('CourierNewPSMT.woff') format('woff'),
        url('CourierNewPSMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

